@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700');

:root {
  --bg-white: #fdfdfd;
  --bg-blue: #7de1ff;
  --font-blue: #9ce2f7;
  --secondary-color: #ffff8a;

  --font-style-heading: 'Lobster', cursive;
  --font-style-main: 'Ubuntu', sans-serif;
}

p {
  text-align: center;
}

a, a:active, a:visited, a:focus {
  text-decoration: none;
  margin: none;
  padding: none;
}

body {
  background: linear-gradient(var(--bg-white), var(--bg-blue) 50%);
  font-family: var(--font-style-main);
}

.app-main-container {
  width: 100vw;
  min-width: 320px;
  height: auto;
  min-height: 100vh;
  /* display: flex; */
  /* flex-direction: column; */
  align-items: center;
}

/* NAVBAR */

.app-navbar-container {
  width: 100%;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
  /* padding-left: 1em; */
  padding-right: 2em;
  box-shadow: 0px 0px 43px 17px var(--secondary-color);
}

.app-navbar-container .navbar {
  width: 100%;
}

.app-navbar {
  display: flex;
  align-items: center;
  width: 100%;
}



.app-title {
  color: var(--font-blue);
  font-size: 25px;
  letter-spacing: 1px;
  font-family: var(--font-style-heading);
  text-shadow: 2px 2px var(--bg-white);
}
.app-nav-button {
  /* margin: 1em; */
  align-self: center;
}
.app-nav-button, .app-nav-button:active, .app-nav-button:focus {
  border: none;
  outline: none;
  background-color: transparent;
}
.app-navbar-menu-button-img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.nav-menu {
  margin-top: 1em;
}
.app-navbar-link {
  /* font-family: var(--font-style-heading); */
  color: var(--font-blue);
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 900;
}

.nav-menu-button, .back-button {
  color: var(--font-blue);
  width: 40px;
  height: 40px;
  text-shadow: 2px 2px white;
  vertical-align: middle;
  display: table-cell;
  margin: 0px;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
}




/* CONTENT */
.app-content-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 3em;

}




/* LOGIN PAGE */

.login-page {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}



.app-login-container, .login-button-container {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-login-container {
  width: 170px;
  height: 170px;
  background-color:  var(--main-font-color);
}

.login-sun-img {
  position: fixed;
  width: 320px;
  height: 320px;
  z-index: 2;
  border-radius: 50%;
  /* box-shadow: 0px 0px 102px 47px var(--bg-white); */
  /* background-color: var(--bg-white); */
}


.login-button-container {
    width: 150px;
    height: 150px;
    background-color: var(--primary-color);
    z-index: 3;
}

.login-button-container button {
  background-color:  var(--secondary-color);
  border: none;
  border-radius: 50%;
  height: 90px;
  width: 90px;
  box-shadow: 0px 0px 25px 10px var(--secondary-color);
  color: var(--font-blue);
  font-size: 25px;
}

.heading-font {
  color: var(--font-blue);
  
}

.login-button-container button:hover, .login-button-container button:active {
  
  box-shadow: 0px 0px 19px 44px var(--secondary-color);
}


/* UTILITY CLASSES */

.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-centered {
  justify-content: center;
  align-items: center;
}

.full-width {
  width: 100%
}

